{{!-- content container --}}
<div class="container p-0 mt-5 mb-5">
  <div class="row">
    {{!-- movie poster --}}
    <div class="col align-self-center">
      <div class="card w-100 shadow-lg bg-body-tertiary rounded" data-id="{{movie.id}}" id="movie-card">
        <img src="{{movie.image}}">
      </div>
    </div>
    {{!-- movie info section --}}
    <div class="col">
      <div class="mb-5">
        <h2 id="movie-title" class="text-center">{{movie.title}}</h2>
      </div>

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="details-tab" data-bs-toggle="tab" data-bs-target="#details-tab-pane"
            type="button" role="tab" aria-controls="details-tab-pane" aria-selected="true">Details</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#cast-tab-pane" type="button"
            role="tab" aria-controls="cast-tab-pane" aria-selected="false">Cast And Crew</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="misc-tab" data-bs-toggle="tab" data-bs-target="#misc-tab-pane" type="button"
            role="tab" aria-controls="misc-tab-pane" aria-selected="false">Misc</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="details-tab-pane" role="tabpanel" aria-labelledby="details-tab"
          tabindex="0">
          <div class="card">
            <div class="card-body">
              <p class="ms-2 mt-2">{{movie.plot}}</p>
              <p class="ms-2"><strong>Genres: </strong>{{movie.genre}}</p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="cast-tab-pane" role="tabpanel" aria-labelledby="cast-tab" tabindex="0">
          <div class="card">
            <div class="card-body">
              <p class="ms-2 mt-2"><strong>Director: </strong>{{movie.director}}</p>
              <p class="ms-2"><strong>Cast: </strong>{{movie.actors}}</p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="misc-tab-pane" role="tabpanel" aria-labelledby="misc-tab" tabindex="0">
          <div class="card">
            <div class="card-body">
              <p class="ms-2 mt-2"><strong>Released: </strong>{{format_date movie.released}}</p>
              <p class="ms-2"><strong>Rating: </strong>{{movie.rated}}</p>
              <p class="ms-2"><strong>Runtime: </strong>{{movie.runtime}}</p>
              {{!-- <p class="ms-2"><strong>IMDB Rating: </strong>{{movie.rated}}/10</p> --}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- review section --}}
<div class="justify-content-center p-3 ms-5 me-5" data-loggedInId="{{logged_in_id}}" id="comment-column">
  {{#if movie.reviews}}
  {{#each movie.reviews as |review|}}
  {{> userreviews}}
  {{/each}}
  {{/if}}
</div>

{{!-- review form --}}
{{#if logged_in}}
<div class="d-flex justify-content-center mt-5">
  <div class="addreview-card w-50 shadow rounded p-3">
    <form class="addreview-form">
      <div class="form-group">
        <label for="review-content" class="mb-1 fs-5">Add a Review </label>
        <textarea class="form-control" id="review-content" rows="3"></textarea>
      </div>
      <div>
        <button type="submit" class="btn btn-primary mt-2 float-start">Submit</button>
        <button type="button" class="btn btn-danger mt-2 float-end" id="clear-button">Clear</button>
      </div>
    </form>
  </div>
</div>
{{/if}}

<script src="/js/review.js"></script>

<script src="/js/delete.js"></script>